body{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family:"微软雅黑";
}
@font-face {
   /* font-properties */
   font-family:font omega BEHR;
   src:url(../font/msyh.ttf),
   url(../font/msyh.ttf),
   url(../font/msyhl.ttc),
   url(../font/OMGBLDRK_0.TTF),
   url(../font/BEHR___.TTF);
}
//nav
.nav_nav{
  position: fixed;
  width: 640/64rem;
  top:0;
  left:10/64rem;
  span{
    display:inline-block ;
    width: 40/64rem;
    height: 40/64rem;
    text-align: center ;
    line-height: 40/64rem;
    font-size: 45/64rem;
    color: #0b4f04;
    float:left;
    margin: 30/64rem;
    cursor: pointer;
     }
  }
  .nav_a{
    position: relative ;
    //right:-500/64rem;
    line-height: 50/64rem;
    float:left;
    margin-top: 10/64rem;
    text-align: center ;
    width: 300/64rem;
    display: none;
    a{
      display: inline-block ;
      font-size: 25/64rem;
      width: 50/64rem;
      color:#0b4004;
      line-height: 50/64rem;
      //border:solid #0b4004 1/64rem;
    }
  }


//音乐
.audio{
  position: relative ;
  right:30/64rem;
  bottom:60/64rem;
  width: 400/64rem;
  height: 80/64rem;
  background-color: #0b8a04 ;
  z-index: 9999;
}

.nav{
  position: fixed ;
  bottom:0;
  height: 100/64rem;
  width: 100%;
  background-color: rgb(11, 63, 4);
  li{
    float:left;
    width: 25%;
  }
  li a{
    width: 100%;
    line-height: 100/64rem;
    text-align: center ;
    display: block ;
    font-size: 45/64rem;
    color:#ffffff;

  }
  .icon-xiangmujingyan{
    font-size: 35/64rem;
  }
  a:hover{
    color: #ffbc00;
  }

}
.xing{
  width: 100%;
  height: 1136/64rem;
  background:url(../img/02.jpg) no-repeat center;
  background-size: 940/64rem 1210/64rem;
  text-align: center;
    h2{
      font-size: 62/64rem;
      font-family:'OMEGA Boldo Rocko';
      color: #0b4004;
      padding: 186/64rem 0 50/64rem 0;
    }
    .resume{
      width: 520/64rem;
      height: 409/64rem;
      background-color: rgba(255, 255, 255, 0.7);
      margin: 20/64rem auto;
      padding:38/64rem 20/64rem;
      //头像
         .avatar{
           width: 184/64rem;
           height: 416/64rem;
           border-right:1/64rem solid rgba(0, 0, 0, 0.5);
           text-align: center;
           float:left;
           position: relative ;
               span{
                 display: block ;
                 width: 140/64rem;
                 height: 140/64rem;
                 border-radius: 50%;
                 background: url(../img/tou.png)center -20/64rem no-repeat;
                 background-size: 153/64rem 220/64rem;
                 position: absolute ;
                 left:50%;
                 top:105/64rem;
                 transform: translateX(-50%);
               }
               p{
                 position: absolute ;
                 top:260/64rem;
                 left:50%;
                 font-size: 25/64rem;
                 transform: translateX(-50%);
                 //line-height: 50/64rem;
               }
         }
      .xingxi{
         float:left;
         text-align: left;
         padding: 50/64rem 25/64rem;
         p{
           font-size: 20/64rem;
           line-height: 45/64rem;
         }
        p:hover{
          color:#000000;
        }
      }
    }
}
//项目
.xiangmu{
    width: 100%;
    height: 1136/64rem;
    text-align: left ;
    background:rgba(255,255,255,.2) url(../img/bg_2.png)0  370/64rem no-repeat ;
    background-size:640/64rem 944/64rem;
    z-index: -222;
   span{
     display: block ;
     font-size: 52/64rem;
     width: 500/64rem;
     height: 100/64rem;
     padding:150/64rem 70/64rem;
     line-height: 50/64rem;
     font-family: "BethHand";
     color: #000000;
     z-index: -9999;
     text-shadow:0 0 6/64rem #979797;
     //background-color: #ffbc00;
   }
    .banner{
      width: 570/64rem;
      height: 720/64rem;
      //background-color: #f8ffff;
      text-align: center ;
      position:  relative;
      top:-100/64rem;
      overflow: hidden ;
      margin: 0 auto;
      z-index: 1;
      background: #ffffff;
      //background: #f8ffff url(../img/99.png)-167/64rem 90/64rem no-repeat ;
      //background-size:872/64rem 904/64rem;
      transform: translateX(-50%);
      margin-left: 50%;
      //box-shadow: -10/64rem  -10/64rem 15/64rem rgba(0, 0, 0, 0.2);
      .list{
        width: 540*4/64rem;
        li{
          text-align: left;
          float: left;
          width: 570/64rem;
          height: 720/64rem;
          color: #000000;
          font-size: 20/64rem;
          line-height: 30/64rem;
          .jop{
            padding:30/64rem;
          }
          h2{
            line-height: 30/64rem;
            text-align: center ;
            //margin: 10/64rem 0;
            width: 150/64rem;
            background-color: #0ba304;
            border:solid #979797 1/64rem;
            color: #ffffff;
          }
          p:nth-child(8){
            padding-left: 50/64rem;
          }
          a:nth-child(9){
            padding-left: 50/64rem;
          }
          img{
            z-index: -444;
            width: 570/64rem;
            height: 336/64rem;
          }
        }
      }
    }
  .btn{
    position: absolute;
    bottom: 80/64rem;
    left: 50%;
    transform: translateX(-50%);

  }

  .btn li{
    float:left;
    display: inline-block;
    width: 20/64rem;
    line-height: 20/64rem;
    text-align: center;
    color: #cccccc;
    background: #cccccc;
    border-radius: 50%;
    margin: 0 5/64rem;
    font-size: 10/64rem;

  }

    .btn .on{
      background: #e4000d;
    }
      .btn_tou{
        position: absolute ;
        bottom:75/64rem;
        width: 640/64rem;
        height: 50/64rem;
        a{
          color: rgb(58, 58, 58);
          font-size: 40/64rem;
          margin: 0 40/64rem;
        }

      }
      /*nth-of-type 限制类型   找里面a子元素  在这些a的子元素里面再选择第一个   nth-child 找所有儿子里面第几个*/
      .btn_tou a:nth-child(1){
        float:left;
      }
      .btn_tou a:nth-child(2){
        float:right;
      }
  }
//技能
.ji{
  background:#ffffff url(../img/10.jpg) no-repeat center;
  background-size: 100% 459/64rem;
  width: 100%;
  height: 1136/64rem;
}