body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "微软雅黑";
}
@font-face {
  font-family: font omega BEHR;
  src: url(../font/msyh.ttf), url(../font/msyh.ttf), url(../font/msyhl.ttc), url(../font/OMGBLDRK_0.TTF), url(../font/BEHR___.TTF);
  
  /* font-properties */
}
.nav_btn i {
  font-size: 0.625rem;
  position: fixed;
  top: 0.46875rem;
  left: 0.625rem;
  cursor: pointer;
}
.nav_left {
  display: block ;
  position: relative ;
  left: 0;
  background-color: #000000;
  line-height: 2.34375rem;
  text-align: center ;
  width: 1.5625rem;
  height: 17.75rem;
  padding-top: 0.78125rem;
}
.nav_left a {
  display: inline-block;
  font-size: 0.359375rem;
  width: 1.5625rem;
  color: #ffffff;
  line-height: 0.625rem;
  padding-top: 0.15625rem;
}
.nav_left a i {
  display: block ;
  font-size: 0.46875rem;
}
.nav_left a:hover {
  background-color: #323232;
}
.nav_nav.slide {
  display: block ;
  background-color: rgba(0, 0, 0, 0.3);
}
body .nav_side {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  -moz-opacit: 0;
  background-color: #000000;
}
.nav_side.side {
  left: 0;
  opacity: .3;
  -moz-opacit: 0.3;
}
body .nav_left {
  width: 1.5625rem;
  height: 100%;
  background-color: #20272e;
  padding: 1.09375rem 0;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: .6s;
}
.nav_left.active {
  left: 0;
  opacity: 1;
}
.audio {
  position: fixed ;
  top: 0.46875rem;
  right: 0.625rem;
  z-index: 9999;
  width: 0.625rem;
  height: 0.703125rem;
  line-height: 0.703125rem;
  text-align: center;
  font-size: 0.28125rem;
  color: #000000;
  text-shadow: #ffffff 0 0 0.15625rem;
}
.audio .play {
  display: inline-block;
}
.audio .start {
  line-height: 0.78125rem;
  display: inline-block;
  font-size: 0.546875rem;
  z-index: 9999;
  cursor: pointer;
  width: 0.859375rem;
  height: 0.859375rem;
}
.audio .start.START {
  background-color: #000000;
  border-radius: 50%;
  color: #ffffff;
  animation: xuan 5s  linear infinite;
}
@keyframes xuan {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.xing {
  width: 100%;
  height: 17.75rem;
  background: url(../img/09.jpg) no-repeat center;
  background-size: 14.6875rem 18.90625rem;
  text-align: left;
}
.xing h2 {
  font-size: 0.65625rem;
  font-weight: bold;
  font-family: "BibleScrT";
  color: #000000;
  padding: 3.6875rem 0 0.09375rem 0.78125rem;
  text-shadow: 0 0 0.09375rem #979797;
}
.xing .resume {
  width: 8.4375rem;
  height: 6.390625rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.3125rem auto;
  padding: 0.59375rem 0.15625rem;
}
.xing .resume .avatar {
  width: 2.5625rem;
  height: 6.5rem;
  border-right: 0.015625rem solid rgba(0, 0, 0, 0.5);
  text-align: center;
  float: left;
  position: relative ;
}
.xing .resume .avatar span {
  display: block ;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background: url(../img/tou.png) center -0.3125rem no-repeat;
  background-size: 2.390625rem 3.4375rem;
  position: absolute ;
  top: 1.640625rem;
  left: 0.15625rem;
  transform: rotateY(180deg);
}
.xing .resume .avatar p {
  position: absolute ;
  top: 4.0625rem;
  left: 50%;
  font-size: 0.390625rem;
  transform: translateX(-50%);
  font-family: '微软雅黑';
}
.xing .resume .xingxi {
  float: left;
  text-align: left;
  padding: 0.78125rem 0.3125rem;
}
.xing .resume .xingxi p {
  font-size: 0.34375rem;
  line-height: 0.703125rem;
}
.xing .resume .xingxi p:hover {
  font-size: 0.390625rem;
}
.xiangmu {
  width: 100%;
  height: 17.75rem;
  background: rgba(255, 255, 255, 0.8) url(../img/04.jpg) center no-repeat;
  background-size: 10rem 17.75rem;
  z-index: -222;
  text-align: right;
  /*nth-of-type 限制类型   找里面a子元素  在这些a的子元素里面再选择第一个   nth-child 找所有儿子里面第几个*/
}
.xiangmu span {
  font-weight: bold;
  display: block ;
  font-size: 0.65625rem;
  width: 9.375rem;
  height: 3.28125rem;
  text-align: right;
  padding: 2.1875rem 0.625rem 0 0;
  line-height: 0.78125rem;
  font-family: "BibleScrT";
  color: #000000;
  z-index: -9999;
  text-shadow: 0 0 0.09375rem #979797;
}
.xiangmu .banner {
  width: 8.90625rem;
  height: 12.5rem;
  text-align: center ;
  position: relative;
  top: -1.5625rem;
  overflow: hidden ;
  margin: 0 auto;
  z-index: 1;
  background: #ffffff;
  border-radius: 0.3125rem;
  transform: translateX(-50%);
  margin-left: 50%;
  box-shadow: -0.078125rem -0.078125rem 0.234375rem rgba(0, 0, 0, 0.2);
}
.xiangmu .banner .list {
  width: 35.625rem;
}
.xiangmu .banner .list li {
  text-align: left;
  float: left;
  width: 8.90625rem;
  height: 12.5rem;
  color: #000000;
  font-size: 0.3125rem;
  line-height: 0.546875rem;
}
.xiangmu .banner .list li .jop {
  background: #ffffff;
  padding: 0 0.46875rem;
  margin-top: 0.078125rem;
}
.xiangmu .banner .list li .jop h2 {
  display: inline-block;
  line-height: 0.625rem;
  font-size: 0.390625rem;
  padding: 0.3125rem 0 0.15625rem 0;
  background: #ffffff;
  font-weight: bold;
}
.xiangmu .banner .list li .jop p {
  line-height: 0.9375rem;
  font-size: 0.3125rem;
  color: #313131;
  border-bottom: 0.03125rem solid #f7f7f7;
  overflow-y: auto;
  padding-left: 0.3125rem;
}
.xiangmu .banner .list li .jop p:hover {
  background-color: #f7f7f7;
  border-left: 0.078125rem solid #ffbc00;
}
.xiangmu .banner .list li img {
  z-index: -444;
  width: 8.90625rem;
  height: 5.25rem;
  background-color: #979797;
}
.xiangmu .btn {
  position: absolute;
  bottom: 0.46875rem;
  left: 50%;
  transform: translateX(-50%);
}
.xiangmu .btn li {
  float: left;
  display: inline-block;
  width: 0.3125rem;
  line-height: 0.3125rem;
  text-align: center;
  color: #cccccc;
  background: #cccccc;
  border-radius: 50%;
  margin: 0 0.078125rem;
  font-size: 0.15625rem;
}
.xiangmu .btn .on {
  background: #000000;
}
.xiangmu .btn_tou {
  position: absolute ;
  bottom: 0.390625rem;
  width: 10rem;
  height: 0.78125rem;
}
.xiangmu .btn_tou a {
  color: #3a3a3a;
  font-size: 0.625rem;
  margin: 0 0.625rem;
}
.xiangmu .btn_tou a:nth-child(1) {
  float: left;
}
.xiangmu .btn_tou a:nth-child(2) {
  float: right;
}
.ji {
  background: #ffffff url(../img/10.jpg) 0 -3.125rem no-repeat;
  background-size: 100% 7.171875rem;
  width: 100%;
  height: 17.75rem;
}
