body {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  font-family: "微软雅黑";
}
.nav_nav {
  position: fixed;
  width: 10rem;
  top: 0;
  right: 0.3125rem;
}
.nav_nav span {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border: solid #0b4004 0.015625rem;
  text-align: center ;
  line-height: 0.625rem;
  font-size: 0.546875rem;
  color: #0b4f04;
  float: right;
  margin: 0.46875rem;
  cursor: pointer;
}
@keyframes but {
  10% {
    background: -webkit-linear-gradient(left top, #0b8a04, #0b4f04, #0b3f04);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #0b3f04, #0b8a04, #0b3f04);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #0b3f04, #0b8704, #0b3f04);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #0b3f04, #0b8704, #0b3f04);
  }
  30% {
    background: -webkit-linear-gradient(left top, #0b4f04, #0b8a04, #0b4f04);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #0b8a04, #0b6704, #0b8a04);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #0b8a04, #0b6704, #0b8a04);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #0b8a04, #0b6704, #0b8a04);
  }
  50% {
    background: -webkit-linear-gradient(left top, #0b4f04, #0b4f04, #0b8a04);
  }
}
.nav_nav .nav_a {
  position: relative ;
  line-height: 0.78125rem;
  float: right;
  margin-top: 0.234375rem;
  text-align: center ;
  width: 4.6875rem;
  display: none;
}
.nav_nav a {
  display: inline-block;
  font-size: 0.46875rem;
  width: 0.9375rem;
  color: #0b4004;
  line-height: 0.78125rem;
}
.audio {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute ;
  right: 0.78125rem;
  bottom: 0.78125rem;
}
.icon-yinlemusic215 {
  font-size: 0.78125rem;
  color: #ffffff;
}
.nav {
  position: fixed ;
  bottom: 0;
  height: 1.5625rem;
  width: 100%;
  background-color: #0b3f04;
}
.nav li {
  float: left;
  width: 25%;
}
.nav li a {
  width: 100%;
  line-height: 1.5625rem;
  text-align: center ;
  display: block ;
  font-size: 0.703125rem;
  color: #ffffff;
}
.nav .icon-xiangmujingyan {
  font-size: 0.546875rem;
}
.nav a:hover {
  color: #ffbc00;
}
.xing {
  width: 100%;
  height: 17.75rem;
  background: url(../img/02.jpg) no-repeat center;
  background-size: 14.6875rem 18.90625rem;
  text-align: center;
}
.xing h2 {
  font-size: 0.96875rem;
  font-family: 'OMEGA Boldo Rocko';
  color: #0b4004;
  padding: 2.90625rem 0 0.78125rem 0;
}
.xing .resume {
  width: 8.125rem;
  height: 6.390625rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.3125rem auto;
  padding: 0.59375rem 0.3125rem;
}
.xing .resume .avatar {
  width: 2.875rem;
  height: 6.5rem;
  border-right: 0.015625rem solid rgba(0, 0, 0, 0.5);
  text-align: center;
  float: left;
  position: relative ;
}
.xing .resume .avatar span {
  display: block ;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background: url(../img/tou.png) center -0.3125rem no-repeat;
  background-size: 2.390625rem 3.4375rem;
  position: absolute ;
  left: 50%;
  top: 1.640625rem;
  transform: translateX(-50%);
}
.xing .resume .avatar p {
  position: absolute ;
  top: 4.0625rem;
  left: 50%;
  font-size: 0.390625rem;
  transform: translateX(-50%);
}
.xing .resume .xingxi {
  float: left;
  text-align: left;
  padding: 0.78125rem 0.390625rem;
}
.xing .resume .xingxi p {
  font-size: 0.3125rem;
  line-height: 0.703125rem;
}
.xing .resume .xingxi p:hover {
  color: #000000;
}
.xiangmu {
  width: 100%;
  height: 17.75rem;
  text-align: left ;
  background: #ffffff url(../img/99.png) -1.875rem 6.09375rem no-repeat;
  background-size: 13.625rem 14.125rem;
  z-index: -222;
}
.xiangmu span {
  display: block ;
  font-size: 0.8125rem;
  width: 7.8125rem;
  height: 1.5625rem;
  padding: 2.34375rem 1.09375rem;
  line-height: 0.78125rem;
  font-family: 'BethHand';
  color: #000000;
  z-index: -9999;
  text-shadow: 0 0 0.09375rem #979797;
}
.xiangmu .banner {
  width: 8.4375rem;
  height: 10.78125rem;
  text-align: center ;
  position: relative;
  top: -1.5625rem;
  overflow: hidden ;
  margin: 0 auto;
  z-index: 1;
  background: #f8ffff url(../img/99.png) -2.609375rem 1.40625rem no-repeat;
  background-size: 13.625rem 14.125rem;
  transform: translateX(-50%);
  margin-left: 50%;
  box-shadow: -0.15625rem -0.15625rem 0.234375rem rgba(0, 0, 0, 0.2);
  /*nth-of-type 限制类型   找里面a子元素  在这些a的子元素里面再选择第一个   nth-child 找所有儿子里面第几个*/
}
.xiangmu .banner .list {
  width: 33.75rem;
}
.xiangmu .banner .list li {
  text-align: left;
  float: left;
  width: 6.875rem;
  height: 10.625rem;
  color: #000000;
  font-size: 0.359375rem;
  line-height: 0.78125rem;
  padding: 0.78125rem 0.78125rem;
}
.xiangmu .banner .list li h2 {
  line-height: 0.625rem;
  text-align: center ;
  margin: 0.15625rem 0;
  background-color: #0ba304;
  border: solid #979797 0.015625rem;
  color: #ffffff;
}
.xiangmu .banner .list li h2:nth-child(5) {
  text-align: right ;
  width: 4.140625rem;
  padding-right: 0.3125rem;
  display: block ;
  background-color: #0ba304;
}
.xiangmu .banner .list li p:nth-child(8) {
  padding-left: 0.78125rem;
}
.xiangmu .banner .list li a:nth-child(9) {
  padding-left: 0.78125rem;
}
.xiangmu .banner .list li h2:nth-child(7) {
  text-align: right ;
  width: 3.515625rem;
  padding-right: 0.3125rem;
  margin-left: 0.625rem;
  background-color: #0ba304;
}
.xiangmu .banner .btn {
  position: absolute;
  bottom: 0.3125rem;
  left: 50%;
  margin-left: -100px;
}
.xiangmu .banner .btn li {
  width: 0.46875rem;
  line-height: 0.46875rem;
  text-align: center;
  color: #fff;
  background: #f8ffff;
  border-radius: 50%;
  float: left;
  margin: 0 0.078125rem;
  font-size: 0.234375rem;
}
.xiangmu .banner .btn .on {
  background: #ffffff;
}
.xiangmu .banner .banner > a {
  text-decoration: none;
  position: absolute;
  width: 0.46875rem;
  line-height: 0.9375rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  margin-top: -0.46875rem;
  font-size: 0.28125rem;
  color: #fff;
}
.xiangmu .banner .banner > a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.xiangmu .banner .banner > a:nth-of-type(1) {
  left: 0;
}
.xiangmu .banner .banner > a:last-child {
  right: 0;
}
