body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "微软雅黑";
}
@font-face {
  font-family: font omega BEHR;
  src: url(../font/msyh.ttf), url(../font/msyh.ttf), url(../font/msyhl.ttc), url(../font/OMGBLDRK_0.TTF), url(../font/BEHR___.TTF);
  
  /* font-properties */
}
.nav_nav {
  position: fixed;
  width: 10rem;
  top: 0;
  left: 0.15625rem;
}
.nav_nav span {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  text-align: center ;
  line-height: 0.625rem;
  font-size: 0.703125rem;
  color: #0b4f04;
  float: left;
  margin: 0.46875rem;
  cursor: pointer;
}
.nav_a {
  position: relative ;
  line-height: 0.78125rem;
  float: left;
  margin-top: 0.15625rem;
  text-align: center ;
  width: 4.6875rem;
  display: none;
}
.nav_a a {
  display: inline-block;
  font-size: 0.390625rem;
  width: 0.78125rem;
  color: #0b4004;
  line-height: 0.78125rem;
}
.audio {
  position: relative ;
  right: 0.46875rem;
  bottom: 0.9375rem;
  width: 6.25rem;
  height: 1.25rem;
  background-color: #0b8a04 ;
  z-index: 9999;
}
.nav {
  position: fixed ;
  bottom: 0;
  height: 1.5625rem;
  width: 100%;
  background-color: #0b3f04;
}
.nav li {
  float: left;
  width: 25%;
}
.nav li a {
  width: 100%;
  line-height: 1.5625rem;
  text-align: center ;
  display: block ;
  font-size: 0.703125rem;
  color: #ffffff;
}
.nav .icon-xiangmujingyan {
  font-size: 0.546875rem;
}
.nav a:hover {
  color: #ffbc00;
}
.xing {
  width: 100%;
  height: 17.75rem;
  background: url(../img/02.jpg) no-repeat center;
  background-size: 14.6875rem 18.90625rem;
  text-align: center;
}
.xing h2 {
  font-size: 0.96875rem;
  font-family: 'OMEGA Boldo Rocko';
  color: #0b4004;
  padding: 2.90625rem 0 0.78125rem 0;
}
.xing .resume {
  width: 8.125rem;
  height: 6.390625rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.3125rem auto;
  padding: 0.59375rem 0.3125rem;
}
.xing .resume .avatar {
  width: 2.875rem;
  height: 6.5rem;
  border-right: 0.015625rem solid rgba(0, 0, 0, 0.5);
  text-align: center;
  float: left;
  position: relative ;
}
.xing .resume .avatar span {
  display: block ;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background: url(../img/tou.png) center -0.3125rem no-repeat;
  background-size: 2.390625rem 3.4375rem;
  position: absolute ;
  left: 50%;
  top: 1.640625rem;
  transform: translateX(-50%);
}
.xing .resume .avatar p {
  position: absolute ;
  top: 4.0625rem;
  left: 50%;
  font-size: 0.390625rem;
  transform: translateX(-50%);
}
.xing .resume .xingxi {
  float: left;
  text-align: left;
  padding: 0.78125rem 0.390625rem;
}
.xing .resume .xingxi p {
  font-size: 0.3125rem;
  line-height: 0.703125rem;
}
.xing .resume .xingxi p:hover {
  color: #000000;
}
.xiangmu {
  width: 100%;
  height: 17.75rem;
  text-align: left ;
  background: rgba(255, 255, 255, 0.2) url(../img/bg_2.png) 0 5.78125rem no-repeat;
  background-size: 10rem 14.75rem;
  z-index: -222;
  /*nth-of-type 限制类型   找里面a子元素  在这些a的子元素里面再选择第一个   nth-child 找所有儿子里面第几个*/
}
.xiangmu span {
  display: block ;
  font-size: 0.8125rem;
  width: 7.8125rem;
  height: 1.5625rem;
  padding: 2.34375rem 1.09375rem;
  line-height: 0.78125rem;
  font-family: "BethHand";
  color: #000000;
  z-index: -9999;
  text-shadow: 0 0 0.09375rem #979797;
}
.xiangmu .banner {
  width: 8.90625rem;
  height: 11.25rem;
  text-align: center ;
  position: relative;
  top: -1.5625rem;
  overflow: hidden ;
  margin: 0 auto;
  z-index: 1;
  background: #ffffff;
  transform: translateX(-50%);
  margin-left: 50%;
}
.xiangmu .banner .list {
  width: 33.75rem;
}
.xiangmu .banner .list li {
  text-align: left;
  float: left;
  width: 8.90625rem;
  height: 11.25rem;
  color: #000000;
  font-size: 0.3125rem;
  line-height: 0.46875rem;
}
.xiangmu .banner .list li .jop {
  padding: 0.46875rem;
}
.xiangmu .banner .list li h2 {
  line-height: 0.46875rem;
  text-align: center ;
  width: 2.34375rem;
  background-color: #0ba304;
  border: solid #979797 0.015625rem;
  color: #ffffff;
}
.xiangmu .banner .list li p:nth-child(8) {
  padding-left: 0.78125rem;
}
.xiangmu .banner .list li a:nth-child(9) {
  padding-left: 0.78125rem;
}
.xiangmu .banner .list li img {
  z-index: -444;
  width: 8.90625rem;
  height: 5.25rem;
}
.xiangmu .btn {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
}
.xiangmu .btn li {
  float: left;
  display: inline-block;
  width: 0.3125rem;
  line-height: 0.3125rem;
  text-align: center;
  color: #cccccc;
  background: #cccccc;
  border-radius: 50%;
  margin: 0 0.078125rem;
  font-size: 0.15625rem;
}
.xiangmu .btn .on {
  background: #e4000d;
}
.xiangmu .btn_tou {
  position: absolute ;
  bottom: 1.171875rem;
  width: 10rem;
  height: 0.78125rem;
}
.xiangmu .btn_tou a {
  color: #3a3a3a;
  font-size: 0.625rem;
  margin: 0 0.625rem;
}
.xiangmu .btn_tou a:nth-child(1) {
  float: left;
}
.xiangmu .btn_tou a:nth-child(2) {
  float: right;
}
.ji {
  background: #ffffff url(../img/10.jpg) no-repeat center;
  background-size: 100% 7.171875rem;
  width: 100%;
  height: 17.75rem;
}
