<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赵甜甜个人移动端简历</title>
    <link rel="stylesheet icon" href="../public/img/logo.ico" media="screen"></li>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/font/iconfont.css">
</head>
<body>

<a href="experience.html" class="index">
    <p>
        <i></i>
    </p>
</a>
<a href="experience.html" class="index_btn"></a>

</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>

</html>