<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/font/iconfont.css">
</head>
<body>
<div class="ji">
    <div class="money">

    </div>
    <div class="jineng">

    </div>
</div>
<div class="audio">

</div>
<div class="nav_nav">
    <span class="iconfont icon-daohang"> </span>
    <div class="nav_a">
        <a href="#" class="iconfont icon-shouye-shouye-copy"></a>
        <a href="xingxi.html" class="iconfont icon-gerenxinxi1 on"></a>
        <a href="xiangmu.html" class="iconfont icon-xiangmujingyan"></a>
        <a href="#" class="iconfont icon-jinengcall-skill"></a>
    </div>
</div>
</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>

</html>