<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赵甜甜个人移动端简历</title>
    <link rel="stylesheet icon" href="../public/img/logo.ico" media="screen">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/font/iconfont.css">
</head>
<body>
<div class="ji">
    <ul class='-center'>
        <li>
            <div class='w'>
                <div class='b'>
                    <h3>HRML5 CSS3<br>熟悉</h3>
                </div>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-angus.png'></image>
                    </svg>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-aurora.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        javaScript <br><br>熟悉
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice'
                               width='100%' xlink:href='../public/img//i-bride.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        JQuery<br>熟悉
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-d.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        ES6<br>熟悉
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-dali.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        AngularJs<br>掌握
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-huitzi.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        ReactJs<br>掌握
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-man.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        Node.js<br>掌握
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-v.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>
                        PHP<br>了解
                    </h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-v2.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>MySQL<br>了解</h3>
                </div>
            </div>
        </li>
        <li>
            <div class='w'>
                <div class='f'>
                    <svg viewBox='0 0 180 180'>
                        <image height='100%' preserveAspectRatio='xMidYMid slice' width='100%'
                               xlink:href='../public/img/i-v3.png'></image>
                    </svg>
                </div>
                <div class='b'>
                    <h3>Photoshop <br>熟悉</h3>
                </div>
            </div>
        </li>
    </ul>
    <div class="footer">
        <h3>2017@ 赵甜甜个人移动端简历</h3>
    </div>
</div>
<!--侧边栏-->
<div class="nav_btn">
    <i  class="iconfont icon-daohang"></i>
</div>
<div class="nav_side">
</div>
<div class="nav_left">
    <a href="index.html">
        <i class="iconfont  icon-shouye-shouye-copy"></i>
        首页
    </a>
    <a href="experience.html" >
        <i class="iconfont icon-gerenxinxi1"></i>
        信息
    </a>
    <a href="project.html" >
        <i class="iconfont icon-xiangmujingyan"></i>
        经历</a>
    <a href="skill.html">
        <i class="iconfont icon-jinengcall-skill"></i>
        技能</a>
</div>
<div class="audio">
    <div id="audioControl">
        <div class="play">
            <span class="iconfont icon-wangpanyinle start"></span>
        </div>
    </div>
    <audio id="media" src="../public/music/RenZhenLaoqu.mp3"></audio>
</div>
</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>
<script src="../public/js/app/main.js"></script>


</html>