<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/font/iconfont.css">
</head>
<body>
<div class="xiangmu">
    <span>My project
         <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience . . .
    </span>
    <div class="bg_banner"></div>
    <div class="banner">
        <ul class="list">
            <li>
                <h2>工作经验</h2>
                <p>时 间：2016.5-2017.5</p>
                <h3>公 司：义乌绿禾电子商务有限公司</h3>
                <h3>职 务：web前端开发</h3>
                <h2>工作内容</h2>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;网页设计、前端页面开发;
                    </p>
                <h2>项 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;目</h2>
                <p>绿禾网 \ 绿禾网app \ 绿禾大客户</p>
                <a href="http://www.lvhe365.com" target="_blank">
                    http://www.lvhe365.com</a>
            </li>
            <li>
                <h2>工作经验</h2>
                <p>时 间：2015.5-2016.4</p>
                <h3>公 司：义乌壹本品牌设计</h3>
                <h3>职 务：web前端开发</h3>
                <h2>工作内容</h2>
                <p> &nbsp; &nbsp;&nbsp;&nbsp;公司平台产品前端架构设计和实现；<br>
                    &nbsp; &nbsp;&nbsp;&nbsp;根据设计稿，实现html和页面效果；</p>
                <h2>项&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目</h2>
                <p>壹本官网</p>
                <a href="http://www.ebencn.com/" target="_blank">
                    http://www.ebencn.com/</a>
            </li>
            <li>
                <h2>教育经历</h2>
                <p>时 间：2010.9-2014.7</p>
                <h3>学 校：西安欧亚学院</h3>
                <h3>专 业：计算机科学与技术</h3>
                <!--<h2>工作内容</h2>-->
                <!--<p> &nbsp; &nbsp;公司平台产品前端架构设计和实现；<br>-->
                    <!--&nbsp; &nbsp;根据设计稿，实现html和页面效果；</p>-->
            </li>
        </ul>
        <ol class="btn">
            <li class="on">1</li>
            <li>2</li>
            <li>3</li>
        </ol>
        <a href="javascript:;">&lt;</a>
        <a href="javascript:;">&gt;</a>
    </div>
</div>

<div class="audio">
     <span class="iconfont icon-yinlemusic215"></span>
    <!--<audio controls="controls" src="">-->
    <!--</audio>-->
</div>
<div class="nav_nav">
    <span class="iconfont icon-daohang"> </span>
    <div class="nav_a">
        <a href="#" class="iconfont icon-shouye-shouye-copy"></a>
        <a href="xingxi.html" class="iconfont icon-gerenxinxi1 on"></a>
        <a href="xiangmu.html" class="iconfont icon-xiangmujingyan"></a>
        <a href="#" class="iconfont icon-jinengcall-skill"></a>
    </div>
</div>
</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>

</html>