<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/font/iconfont.css">
</head>
<body>
<div class="xiangmu">
    <span>PROJECT  <br>  EXPERIENCE</span>
    <div class="bg_banner"></div>
    <div class="banner">
        <ul class="list">
            <li>
                <img src="../public/img/12.png" alt="绿禾网电子商务网站">
                <div class="jop">
                    <h2>| 工作经验</h2>
                    <p> 时 间：2016.5-2017.5</p>
                    <p> 公 司：义乌绿禾电子商务有限公司</p>
                    <p> 职 务：web前端开发</p>
                    <p> 职 责：公司平台产品前端架构设计和实现;</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 根据设计稿，实现html和页面效果；
                    </p>
                    <p> 项 目：<a href="http://www.lvhe365.com" target="_blank">
                        绿禾网 http://www.lvhe365.com</a>
                    </p>

                </div>
            </li>
            <li>
                <img src="../public/img/13.png" alt="壹本官网">
                <div class="jop">
                <h2>| 工作经验 </h2>
                <p> 时 间：2015.5-2016.4</p>
                <p> 公 司：义乌壹本品牌设计</p>
                <p> 职 务：web前端开发</p>
                <p> 职 责：网页设计、前端页面开发;</p>
                <p> 项 目：
                    <a href="http://www.ebencn.com/" target="_blank">
                    壹本官网 http://www.ebencn.com/</a></p>

                </div>
            </li>
            <li>
                <img src="../public/img/13.jpg" alt="绿禾网电子商务网站">
                <div class="jop">
                <h2>|教育经历</h2>
                <p> 时 间：2010.9-2014.7</p>
                <p> 学 校：西安欧亚学院</p>
                <p> 专 业：计算机科学与技术</p>
                <!--<h2>工作内容</h2>-->
                <!--<p> &nbsp; &nbsp;公司平台产品前端架构设计和实现；<br>-->
                    <!--&nbsp; &nbsp;根据设计稿，实现html和页面效果；</p>-->
                </div>
            </li>
        </ul>
    </div>
    <ol class="btn clearfix">
        <li class="on">1</li>
        <li>2</li>
        <li>3</li>
    </ol>
    <div class="btn_tou">
        <a href="javascript:;">&lt;</a>
        <a href="javascript:;">&gt;</a>
    </div>
</div>
<div class="nav_btn">
    <i  class="iconfont icon-daohang"></i>
</div>

<!--侧边栏-->
<div class="nav_side">
</div>
<div class="nav_left">
    <a href="#">
        <i class="iconfont  icon-shouye-shouye-copy"></i>
        首页
    </a>
    <a href="xingxi.html" >
        <i class="iconfont icon-gerenxinxi1"></i>
        信息
    </a>
    <a href="xiangmu.html" >
        <i class="iconfont icon-xiangmujingyan"></i>
        经历</a>
    <a href="jineng.html">
        <i class="iconfont icon-jinengcall-skill"></i>
        技能</a>
</div>
<div class="audio">
    <div id="audioControl">

        <div class="play">
            <span class="iconfont icon-wangpanyinle start"></span>
        </div>

    </div>
    <audio id="media" src="../public/music/RenZhenLaoqu.mp3"></audio>
</div>
</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>

</html>