<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="stylesheet" type="text/css" href="../public/font/iconfont.css">

</head>
<body>
 <div class="xing">
    <h2>Resume</h2>
    <div class="resume">
           <div class="avatar clearfix">
               <span></span>
               <p>赵甜甜</p>
           </div>
           <div class="xingxi">
               <p> 求  职：Web前端工程师</p>
               <p> 经  验：2 年工作经验</p>
               <p> 籍  贯：山西 临汾</p>
               <p> 电  话：1823533884</p>
               <p> 邮  箱：731680292@qq.com</p>
               <p> 学  历：本科 西安欧亚学院
                         <!--(西安欧亚学院 计算机科学与技术)-->
               </p>
               <p> 专  业：计算机科学与技术</p>
           </div>
    </div>

 </div>

 <!--<div class="audio">-->

 <!--</div>-->
 <div class="nav_nav">
     <span class="iconfont icon-daohang"> </span>
     <div class="nav_a">
         <a href="#">首页</a>
         <a href="xingxi.html" >信息</a>
         <a href="xiangmu.html">经历</a>
         <a href="#" >技能</a>
     </div>
 </div>
</body>
<script src="../public/js/lib/jquery-1.7.2.min.js"></script>
<script src="../public/js/lib/common.js"></script>
<script src="../public/js/app/index.js"></script>

</html>